//GLOBAL STYLING //////////////////////////////////////////////

$--color-primary: radial-gradient(circle at 10% 20%, rgb(186, 190, 245) 0%, rgb(192, 192, 245) 33.1%, rgb(218, 203, 246) 90%);
$--color-secondary: #900048;
$--color-drk: #1a2639;
$--color-light: #eeeeee;

// FONT-SIZES --------------------------------------------
$--size-h1: 72px;
$--size-h2: 60px;
$--size-h3: 40px;
$--size-p1: 22px;
$--size-p2: 18px;
$--size-p3: 12px;

// FONT-WEIGHTS ------------------------------------------- 
$--bold: 600;
$--bolder: 900;

// SHADOWS ------------------------------------------------
$--txtdrk-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
$--boxdrk-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
$--boxlight-shadow: 10px 10px 20px rgba(240, 240, 240, 0.2);
$--txtlight-shadow: 5px 5px 10px rgba(245, 245, 245, 0.4);

// COMPONENTS STYLING ////////////////////////////////////////

// header - This styling will only include the logo & company name
.main-header {
  .main-logo {
    display: block;
    margin: auto;
  }
}

// home carousel - This styling only pertains to the carousel located on the homepage



// footer - This styling will only affect anything outside of the APP CONTAINER
.site-footer {
  background-color: #4b092a;
  color: $--color-light;
  padding-top: 20px;

  a {
    color: $--color-light;
    text-decoration: none;
    font-family: 'cabin';
    font-size: $--size-p2;
  }

  a:hover {
    color: yellow;
  }

  h5 {
    font-family: 'cabin';
    font-weight: $--bold;
    font-size: 32px;
  }
}

.footer-notes {
  p {
    font-size: $--size-p3;
  }
}

// PAGES STYLING & MEDIA QUERIES ////////////////////////////////

// homepage -- Styling pertaining to the home page
.home-page {
  h1 {
    text-align: center;
    font-size: $--size-h1;
    font-family: 'indie-flower';
  }

  h2 {
    text-align: center;
    font-size: $--size-p1;
  }

  @media screen and (max-width: 767px) {
    h2 {
      font-size: $--size-p2;
    }
  }
}

// shoppage -- Styling only pertaining to shoppage
.shop-page {
  h3 {
    font-size: $--size-h3;
    text-align: center;
    font-weight: $--bold;
    font-family: 'cabin';
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.shop-item {
  .add-button {
    background-color: #900048;
    border-color: #900048;
    font-weight: $--bolder;
    box-shadow: $--boxlight-shadow;
  }

  .add-button:hover {
    background-color: $--color-light;
    border-color: #900048;
    color: #900048;
    font-weight: $--bolder;
    box-shadow: $--boxlight-shadow;
  }

  .increase-button {
    background-color: green;
    border-color: green;
    color: $--color-light;
    font-weight: $--bolder;
    box-shadow: $--boxlight-shadow;
  }

  .increase-button:hover {
    font-weight: $--bolder;
    box-shadow: $--boxlight-shadow;
    color: green;
    border-color: green;
    background-color: $--color-light;
  }

  .decrease-button {
    background-color: red;
    border-color: red;
    color: $--color-light;
    font-weight: $--bolder;
    box-shadow: $--boxlight-shadow;
  }

  .decrease-button:hover {
    color: red;
    border-color: red;
    background-color: $--color-light;
    font-weight: $--bolder;
    box-shadow: $--boxlight-shadow;
  }

  .remove-button {
    background-color: $--color-drk;
    color: $--color-light;
    border-color: $--color-drk;
    font-weight: $--bold;
    box-shadow: $--boxlight-shadow;
  }

  .remove-button:hover {
    background-color: $--color-light;
    color: $--color-drk;
    border-color: $--color-drk;
    font-weight: $--bold;
    box-shadow: $--boxlight-shadow;
  }
}

// MEDIA QUERIES FOR COMPONENTS ////////////////////////////////

// header - Media Queries for the header to get smaller when the screen minimizes to smaller screens
@media screen and (max-width: 767px) {
  .main-header h1 {
    font-size: 55px;
  }
}

@media screen and (max-width: 647px) {
  .main-header h1 {
    font-size: $--size-h3;
  }
}